@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');
:root{
	
--mint-cream: #f1fffaff;
--caribbean-green: #00c49aff;
--yellow-crayola: #f8e16cff;
--melon: #ffc2b4ff;
--coral: #fb8f67ff;
--ebony: #464e47ff;
}

div.container{
	padding-top: var(--bs-gutter-x,.75rem);
}
/* SPLASH PAGE */

body{
	background-image: url(media/repeated-square.png);
	background-repeat: repeat;
	color: var(--ebony);
	font-family: 'Roboto', sans-serif;
	
}

#indexCard input[type="text"]{
	background-color: var(--mint-cream);
}

#indexCard input[type="email"]{
	background-color: var(--mint-cream);
}

#indexCard input[type="password"]{
	background-color: var(--mint-cream);
}

#indexCard input[type="file"]{
	background-color: var(--mint-cream);
}

#indexCard input[type="date"]{
	background-color: var(--mint-cream);
}




div.welcome{
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	padding: 10% 0;
	text-align: center;
	/* 
	position: absolute;

	left: 50%;
	transform: translate(-50%, -50%); */
}
@keyframes fadeInAnimation {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

section{
	padding:15% 0;
}

.fa-arrow-down{
	color: var(--caribbean-green);
}

div.card-body{
	font-family: 'Open Sans', sans-serif;
	
	background-color: var(--ebony);
	color: var(--mint-cream);
}

div.card-header{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
	background-color: var(--ebony);
	color: var(--mint-cream);
}

/* BUTTONS */
button.btn{
	background-color: var(--caribbean-green);
	border-color: var(--caribbean-green);
	color: var(--mint-cream);
	font-size: 20px;
}

.btn{
	background-color: var(--caribbean-green);
	border-color: var(--caribbean-green);
	color: var(--mint-cream);
	font-size: 20px;
}

.btn:hover{
	background-color: var(--melon);
	border-color: var(--melon);
	color: var(--ebony);
}

button.btn:hover{
	background-color: var(--melon);
	border-color: var(--melon);
	color: var(--ebony);
}
i.fa-angle-right{
	margin-left: 0.5em;
}

@media (min-width: 992px){
	i.fa-angle-right{
		transition: all 0.5s;
	}

	button:hover i.fa-angle-right{
		margin-left: 1.5em;
		transform: rotate(90deg);
		transition: all 0.5s;
		/* background-color: var(--ebony); */
	} 

}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* LOGOUT */
div.logout{
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	padding: 10% 0;
	text-align: center;
	/* 
	position: absolute;

	left: 50%;
	transform: translate(-50%, -50%); */
}



/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* HOME PAGE */
h2{
	padding: 3%;
	color: var(--ebony);
}

/* #cardLink :link{
	color: var(--ebony);
	background-color: transparent;
	text-decoration: none;

}

#cardLink :visited{
	text-decoration: none;
}

#cardLink :hover{
	text-decoration: none;
} */



#newEvent div{
	background-color: var(--coral);
	color: var(--ebony);
}

.card{
	margin-bottom: 5%;
}

div.row.eventsGallery img{
	background-size: cover;
	background-position: center center;
	height: 200px; 
	
}

li#activity{
	background-color: var(--ebony);
	color: var(--mint-cream);
}

#privateEvents div{
	background-color: var(--yellow-crayola);
	color: var(--ebony);
}

#privateEvents #when{
	background-color: var(--ebony);
	color: var(--yellow-crayola);
}

#privateEvents #where{
	background-color: var(--ebony);
	color: var(--yellow-crayola);
}

#privateEvents #hash{
	background-color: var(--ebony);
	color: var(--yellow-crayola);
}

#privateEvents input[type="text"]{
	background-color: var(--melon);
}

#privateEvents input[type="email"]{
	background-color: var(--melon);
}

#privateEvents input[type="password"]{
	background-color: var(--melon);
}

#privateEvents input[type="date"]{
	background-color: var(--melon);
}

#privateEvents input[type="file"]{
	background-color: var(--melon);
}


#publicEvents div{
	background-color: var(--caribbean-green);
	color: var(--mint-cream);
}

#publicEvents #when {
	background-color: var(--ebony);
	color: var(--caribbean-green);
}

#publicEvents #where {
	background-color: var(--ebony);
	color: var(--caribbean-green);
}

#publicEvents #hash {
	background-color: var(--ebony);
	color: var(--caribbean-green);
}

/* NAV BAR */
.navbar{
	background-color: var(--ebony);
}

a[class^="nav"]{
	color: var(--mint-cream);
}

a[class^="nav"]:hover{
	color: var(--caribbean-green);
}

.btn-outline-success{
	background-color: var(--caribbean-green);
	border-color: var(--caribbean-green);
	color: var(--mint-cream);
	font-size: 20px;
}

.btn-outline-success:hover{
	background-color: var(--melon);
	border-color: var(--melon);
	color: var(--ebony);
}

/*EVENTS */
.scroll{
	max-height : 400px;
	overflow-y: auto;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:var(--mint-cream);
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: var(--yellow-crayola);    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: var(--yellow-crayola);  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: var(--yellow-crayola);
}


/* PROFILE */
/* .profile {
    padding: 5rem 0;
}
 */
 .profile::after {
    content: "";
    display: block;
    clear: both;
} 

#pronoun{
	color: var(--caribbean-green);
}






.profile-user-name {
    display: inline-block;
    /* font-size: 3.2rem;
    font-weight: 300; */
}



.profile-stats {
    margin-top: 2rem;
}

.profile-stats li {
    display: inline-block;
    /* font-size: 1.6rem; */
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
	font-weight: bold;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    /* font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5; */
    margin-top: 2.3rem;
}



/* FRIENDS */

div#mymessage div
{
	height: 50px;
}
div#mymessage
{
	background-color:#e6ffe6;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

i#chat{
	position: absolute;
	right: 0;
}


